/* adapted from: https://css-tricks.com/snippets/css/css-grid-starter-layouts/ */

body {
  display: grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: 18vw auto 9vw;
  grid-gap: 0.5em;
  justify-content: center;
}

header,
footer {
  grid-column: 1 / span 2;
}

footer {
  padding: 20px;
  text-align: justify;
}

header,
main,
aside,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
}

p {
  margin: 10px 0;
}
