<html>
    <head>
      <title>Entendrepreneur Pun Generator</title>
    </head>
    <body>
        <h1>Pun Generator</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.word1.label }}<br>
                {{ form.word1(size=32) }}
                {% for error in form.word1.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.word2.label }}<br>
                {{ form.word2(size=32) }}
                {% for error in form.word2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            {% block content %}{% endblock %}
        </form>
        {% if results %}
        {% if results.portmanteaus %}
        <h2>Portmanteaus</h2>
        <p>
          {% for portmanteau in results.portmanteaus %}
          {{ portmanteau }}<br>
          {% endfor %}
        </p>
        {% endif %}
        {% if results.rhymes %}
        <h2>Rhymes</h2>
        <p>
          {% for rhyme in results.rhymes %}
          {{ rhyme }}<br>
          {% endfor %}
        </p>
        {% endif %}
        {% endif %}
    </body>
</html>
